footer{
	background-color: #043458;
	min-width: 1300px;
	z-index: -1;
}
.wrapper_footer{
	color: #fff;
	padding: 0;
	position: relative;
	width: 100%;
}
.wrapper_footer::before{
	content: "";
	display: block;
	width: 100%;
	height: 43px;
	position: absolute;
	top: -42px;
	left: 0;
	background: url(../../img/qrf/bg_footer.png) center 0 no-repeat;
	background-size: 100% 100%;
}
.container-box{
	width: 1181px;
	padding: 0;
	margin: auto;
}

.container-wrapper .footer-list{
	padding-bottom: 38px;
	font-size: 14px;
	line-height: 24px;
	color: #a6b8c5;
	width: 1041px;
	margin: auto;
}
.row{
	margin-left: -10px;
	margin-right: -10px;
}
.row::after{
	content: "";
	display: block;
	clear: both;
}
.wrapper_footer .col{
	float: left;
	padding: 0 75px 0 10px
}
.wrapper_footer .col h3{
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 28px;
	margin-top: 18px;
	margin-bottom: 0px;
}
.col_img .logo_footer{
	margin-top: 20px;
	width: 100%;
	height: 100%;
}

/*页脚版权 */
.footer_copyright{
	background: #fff;
	color: #043458;
	padding-bottom: 0;
	padding-top: 0;
}
.footer_copyright-center{
	width: 1021px;
	margin: 0 auto;
}
.footer_copyright-center .footer{
	padding: 20px 0 20px 0;
}
.footer_copyright-center .content-box{
	display: flex;
	justify-content: space-between;
	font-size: 14px;
}
.copyright span a{
	text-decoration: underline;
}
.footer_navigation a{
	font-weight: bold;
	color: #043458;
	text-decoration: none;
}
.footer_security_record {
	line-height: 56px;
	font-size: 18px;
	color: #939393;
}
.footer_security_record {
	line-height: 56px;
	color: #939393;
}
.footer_security_record a{
	display: flex;
	align-items: center;
	text-decoration: none;
}
.footer_security_record a img{
	width: 25px;
	height: 25px;
}
.footer_security_record a div{
	font-size: 14px;
	color: #939393;
	margin-left: 8px;
}
.footer_address{
	font-size: 14px;
	color: #969393;
}
.col_list li a{
	color: #a6b8c5;
    font-size: 14px;
    line-height: 24px;
}
.col-hotline_footer-box_img{
	width: 80px;
	height: 80px;
	background-color: #FFFFFF;
	padding: 10px;
}
.col-hotline_footer-box_img img{
	width: 80px;
	height: 80px;
	display: block;
}
.icon-social-footer{
	margin-top: 15px;
}
.list-icon{
	display: flex;
}
.list-icon li{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 0 2px;
}
.list-icon li a{
	width: 100%;
	height: 100%;
	display: block;
}
.icon-icon-weibo {
    background-image: url('../../img/qrf/sprites_img.png');
    background-position: -1906px -323px;
}
.icon-icon-douban {
    background-image: url('../../img/qrf/sprites_img.png');
    background-position: -1410px -583px;
}
.icon-icon-QQzone {
	background-image: url('../../img/qrf/sprites_img.png');
	background-position: -1590px -583px;
}
.row .col-display1{
	display: block;
}
.row .col-display2{
	display: none;
}





/* 响应式布局 */
@media (max-width: 767px) {
	footer {
	    min-width: 0;
	}
	.wrapper_footer::before{
		height: 15px;
		top: -14px;
	}
	.row .col-display1{
		display: none;
	}
	.row .col-display2{
		display: block;
	}
	.container-box {
		width: 260px;
		margin-left: auto;
		margin-right: auto;
	}
	.wrapper_footer .footer-list{
		width: 260px;
		margin: 0 auto;
	}
	.wrapper_footer .col {
	   padding: 0 10px;
	}
	
	/* 页脚版权 */
	.footer_copyright-center{
		width: 260px;
	}
	.footer_security_record {
	    line-height: 60px;
	}
	.footer_security_record a img{
		width: 20px;
		height: 20px;
	}
	.footer_security_record a div{
		font-size: 12px;
		margin-left: 5px;
	}
	.footer_address{
		font-size: 12px;
	}
	.footer_copyright-center .footer{
		padding: 0;
	}
	.col-hotline_footer-box_img {
		display: none;
	}
	.col_img .logo_footer {
	    margin-top: 20px;
	    width: 90px;
	    height: 64px;
	}
	.wrapper_footer .col h3 {
	    font-size: 12px;
	    line-height: 18px;
	}
	.col_list li a {
	    font-size: 12px;
	    line-height: 18px;
	}
	.col-hotline_footer-width{
		width: 130px;
	}
}