@media (max-width: 767px){
    .page_content {
        width: 260px;
        margin:0 auto;
    }
    .page_content h1{
        line-height: 35px;
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 28px;
    }
    .page_content .content_top{
        display: block;
    }
    .content_item .item_style .item_icon{
        margin-top: 10px;
        
        width: 27px;
        height: 27px;
    }
    .content_item .item_style .call_icon{
        background: url(../../../img/jfq/phone-contact-mobile.png) no-repeat 0 0;
        background-size: 100% auto;
    }
    .content_item .item_style .item_content{
        font-size: 12px;
        line-height: 18px;
        padding-left: 20px;
        margin-bottom: 5px;
        padding-top: 0px;
    }
    .content_item .item_style .item_content .hot_call{
        font-size: 20px;
        line-height: 25px;
    }
    .content_item .item_style .email_icon{
        background-image: url(../../../img/jfq/email-contact-mobile.png);
        background-size: 100% auto;
        background-position: 0 0;
        background-repeat: no-repeat;
        width: 31px;
        height: 31px;
    }
    .content_top .content_item .item_content{
        font-size: 12px;
        line-height: 18px;
        padding-left: 20px;
        margin-bottom: 5px;
        padding-top: 0px;
    }
    .content_top .content_item:nth-child(2) .item_content,.content_top .content_item:nth-child(3) .item_content{
        padding-left: 0px;
    }
    .content_item .item_content .title{
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 5px;
    }
    .content_item .item_content a{
        margin-bottom: 13px;
    }
    .content_item:last-child{
        margin-top: 20px;
        /* padding-left: 0px; */
    }
    .content_item:last-child .item_content a{
        margin-bottom: 30px;
    }
    .content_item:last-child .title{
        margin-bottom: 3px;
        line-height: 26px;
        font-size: 20px;
    }
    .content_bottom{
        margin-top: 30px;
        padding-top: 13px;
        margin-left: auto;
        margin-right: auto;
    }
    .content_bottom:before{
        background: url(../../../img/jfq/bg-contact-before-mobile.png) center top no-repeat;
        background-size: 100% 100%;
        height: 12px;
        top: -10px;
    }
    #study_travel .content_bottom .container{
        width: 320px;
        margin: 0 auto;
    }
    .content_bottom .bottom-content{
        width: 260px;
        margin: 0 auto;
        font-size: 12px;
        line-height: 25px;
        padding-bottom: 50px;
    }
    .content_bottom .bottom-content h2{
        font-size: 20px;
        line-height: 26px;
        text-align: left;
        margin-bottom: 7px;
    }
    .content_bottom .bottom-content .desc{
        line-height: 18px;
        text-align: left;
        font-size: 12px;
    }
    .content_bottom .bottom-content .form_note{
        text-align: left;
        margin-top: 10px;
        margin-bottom: 12px;
    }
    .content_bottom .bottom-content .form_content{
        display: block;
        margin-left: -10px;
        margin-right: -10px;
    }
    .form_content .content .form-group label{
        display: block;
        width: auto;
        font-size: 12px;
        line-height: 17px;
    }
    .form_content .content .form-group input{
        height: 30px;
        width: 100%;
        font-size: 12px;
        line-height: 17px;
        padding: 10px;
    }
    .form_content .content .form-group{
        margin-bottom: 15px;
    }
    .form_content .content:nth-child(1) .form-group:nth-child(1){
        width: 47%;
        display: inline-block;
        margin-bottom: 23px;
    }
    .form_content .content:nth-child(1) .form-group:nth-child(2){
        float: right;
        width: 47%;
        margin-top: 17px;
        margin-bottom: 0;
    }
    .form_content .content:nth-child(2) .form-group label{
        padding-left: 0px;
    }
    .content .form-group .content_list .select{
        width: 100%;
        font-size: 18px;
        line-height: 28px;
        height: 30px;
        padding-top: 1px;
        font-size: 12px;
    }
    .form_submit .sub_icon{
        background-image: url(../../../img/jfq/arrow_next_mobile.png);
        background-size: 100% auto;
        background-position: 0 0;
        background-repeat: no-repeat;
        width: 13px;
        height: 23px;
        margin-top: 0;
       
    }
    .chosen-container{
        width: 260px;
    }
    .chosen-container .chosen-single{
        width: 100%;
        font-size: 18px;
        line-height: 28px;
        height: 30px;
        padding-top: 1px;
    }
    .chosen-container .chosen-single span{
        font-size: 12px;
        line-height: 28px;
    }
    #mCSB_2{
        max-height: 140px;
    }
    .mCSB_container li{
        font-size: 12px;
        line-height: 18px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .form_submit button{
        font-size: 12px;
        width: 80px;
        height: 80px;
        margin-top: 24px;
        box-shadow: 0px 9px 12px 5px rgba(238, 45, 66, 0.48);
    }
}