ul{list-style:none;padding:0;margin: 0;}
.chosen-container{
    width: 211px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #043458;
}
.chosen-container .chosen-single{
    background: #fff;
    height: 33px;
    font-size: 18px;
    line-height: 28px;
    padding-top: 3px;
    padding-bottom: 0;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
}
.chosen-container .chosen-single span{
    display: block;
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chosen-container .chosen-single i{
    font-style:normal;
}
.chosen-container.active .chosen-single i{
    background: #0082a9;
    color: #ffffff;
    display: inline-block;
}
.chosen-container .chosen-single b{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 13px;
    right: 3px;
    border-style: solid;
    border-width: 6px;
    border-color: transparent;
    border-top: 8px solid #043458;
}
.chosen-container.active .chosen-single b{
    border-top: 0;
    border-bottom: 8px solid #043458;
}
.chosen-container .chosen-drop{
    position: absolute;
    top: 100%;
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 5px rgba(0,0,0,.15);
    clip: rect(0,0,0,0);
    font-size: 18px;
    line-height: 28px;
    z-index: 999;
}
.chosen-container.active .chosen-drop{
    clip:auto;
}
.mCSB_container{
    margin-right: 30px;
    position: relative;
}
.mCSB_container li:hover{
    background: #0082a9;
    color: #ffffff;
}
.mCSB_container li.active{
    background: #0082a9;
    color: #ffffff;
}
.scroll_groove{
    position: absolute;
    width: 16px;
    height: auto;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
}
.scroll_bar{
    position: absolute;
    background: #c2c2c2;
    width: 8px;
    left: 50%;
    transform: translate(-50%);
    /* min-height: 30px; */
    display: block;
    max-height: 230px;
    border-radius: 16px;
    cursor: pointer;
}
#mCSB_2{
    color: #444;
    position: relative;
    margin: 0 0 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    overflow:hidden;
}
.mCSB_container li{
    font-size: 18px;
    line-height: 28px;
    padding-left: 15px;
    padding-right: 15px;
    padding: 5px 6px;
    text-align: left;
}
.mCSB_container li:nth-child(1){
    color: #ccc;
    cursor: default;
}
.mCSB_container li:nth-child(1):hover{
    background: white;
}