@media (max-width: 767px){
    #study_travel .aside_img {
        max-width: 149px;
        right: 0;
    }
    #study_travel .aside_img .img_pic {
        display: none!important;
    }
    #study_travel .aside_img .img_mb {
        display: block;
    }
    #study_travel .main-top{
        padding-top: 18px;
    }
    #study_travel .main-top h2 {
        margin-left: 30px;
        max-width: 150px;
        font-size: 30px;
        line-height: 35px;
    }
    #study_travel .main-top p{
        max-width: 150px;
        font-size: 12px;
        line-height: 17px;
        margin-left: 30px;
        padding-top: 10px;
        margin-bottom: 0;
    }
    #study_travel .main-content{
        left: 0;
        max-width: 320px;
        padding-left: 75px;
        padding-right: 30px;
        margin-top: 0;
    }
    #study_travel .main-content .learn-content-line {
        width: 5px;
        background: #c5c5c5;
        margin-left: 0;
        left: 38px;
        top: 0;
        overflow: hidden;
    }
    #study_travel .main-content .learn-content{
        margin: 0;
    }
    #study_travel .main-content .learn-content-line .content-active-line{
        width: 5px;
        background: #ee2d42;
    }
    #study_travel .main-content .learn-content .learn-content-item{
        display:block;
        height:auto;
    }
    .learn-content-text{
        font-size: 12px;
        line-height: 17px;
    }
    .learn-content-text .learn-content-count{
        display: block;
    }
    .learn-content-text .learn-title{
        font-size: 20px;
        line-height: 25px;
        margin-top: 28px;
    }
    .learn-content-line .node{
        display: none;
    }
    .learn-content-item:nth-child(1) .learn-content-text .learn-title{
        margin-top: 0px;
    }
    
    .learn-content-text .text-middle{
        letter-spacing: 0;
        padding-top: 9px;
    }
    .learn-content-img{
        max-width: 152px;
    }
    .learn-content-video{
        margin-top: 16px!important;
    }
    .learn-content-item .learn-content-img{
        margin: 21px auto 0;
    }
    .learn-content-video a{
        width: 36px;
        height: 36px;
        background-size: 100% 100%;
    }
    .item5 .learn-title{
        padding-left: 0px;
    }
    .item8:before{
        content: '';
        position: absolute;
        top: 32px;
        left: -38px;
        width: 7px;
        height: 125%;
        background: #fff;
        display: block;
    }
    #study_travel .main-content .learn-content .learn-content-item:before{
        content: " ";
        display: table;
    }
    .main-bottom{
        margin: -40px 0 -60px 0;
    }
    .main-bottom img:nth-child(1){
        display:none;
    }
    .main-bottom img:nth-child(2){
        display:block;
    }
}