.solution-box{
	padding-left: 0.75rem;
	padding-right: 0.73rem;
}
.solu-box{
	width: 17.52rem;
	height: 6.43rem;
	position: relative;
}
.solu-box img{
	width: 9.54rem;
	float: right;
}
.solu-title{
	margin-top: 40px;
	float: left;
	margin-left: 1.69rem;
	font-size: 0.18rem;
}
.solu-title span:nth-child(2){
	margin-left: 0.13rem;
	margin-right: 0.17rem;
}
.solu-title span:nth-child(3){
	color:#ef3a4d;
	font-weight: bold;
}
.solu-box h1{
	position: absolute;
	top: 1.25rem;
	left: 2.32rem;
	font-size: 0.7rem;
	color:#ee2d42;
	line-height: 0.87rem;
}
.solu-word{
	position: absolute;
	top: 3.38rem;
	left: 2.87rem;
	font-size: 0.18rem;
	color:#575757;
}
.solu-talents{
	width: 100%;
	height: 6.75rem;
	overflow: hidden;
	position: relative;
}
.solu-talents .talents-box{
	width: 27rem;
	height: 27rem;
	border: 0.06rem solid #234d6d;
	border-radius: 50%;
	transform: translateX(-8rem);
}
.solu-talents h1{
	position: absolute;
	top: 1.33rem;
	left: 3.38rem;
	font-size: 0.47rem;
	line-height: 0.6rem;
	color: #043458;
}
.solu-talents h2{
	position: absolute;
	top: 2.87rem;
	left: 3.93rem;
	font-size: 0.18rem;
	color: #545454;
	line-height: 0.3rem;
	font-weight: normal;
}
.solu-talents img{
	width: 4.77rem;
	position: absolute;
	top: 1.11rem;
	right: 3.14rem;
}
.talents-English{
	display: flex;
	flex-direction: column;
}
.talents-English>div{
	height: 5.825rem;
	padding: 0.5rem 3.41rem 0 3.12rem;
}
.talents-English>div img{
	float: left;
	margin-right: 0.6rem;
}
.talents-English>div:nth-child(even) img{
	float: right;
	margin: 0;
	margin-left: 0.6rem;
}
.talents-English>div h1{
	padding-top: 0.54rem;
	padding-bottom: 0.39rem;
	font-size: 0.49rem;
	color: #ee2d42;
}
.talents-English>div:nth-child(even) h1{
	color: #043458;
}
.talents-English>div p{
	transform: translateX(0.42rem);
	line-height: 0.3rem;
	font-size: 0.18rem;
	color: #575757;
}